$primary: #3399ff;
$secondary: #b3b3b3;
$success: #33cc33;
$danger: #cc0000;
$warning: #ffad33;
$muted: #8f8d8a;

$primary-light: #3399ff;
$secondary-light: #b3b3b3;
$success-light: #33cc33;
$danger-light: #cc0000;
$warning-light: #ffad33;
$muted-light: #8f8d8a;
